{% if page.comments != false %}

{% if site.comments_provider != 'disqus' and site.lazy_load_disqus and site.disqus and site.disqus.username %}
<div id="disqus_thread">
  <a href="#" onclick="disqus();return false;">Show Disqus Comments</a>
</div>
<script type="text/javascript">

var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url }}';
    this.page.identifier = '{{ page.url }}';
    this.page.title = '{{ page.title }}';
};
var disqus_loaded = false;
// This is the function that will load Disqus comments on demand
function disqus() {
  if (!disqus_loaded)  {
    // This is to ensure that Disqus widget is loaded only once
    disqus_loaded = true;
    var d = document, e = d.createElement('script');
    e.type = "text/javascript";
    e.async = true;
    e.src = 'https://yuanfei-bis-blog.disqus.com/embed.js';
    e.setAttribute('data-timestamp', + new Date());
    (d.head || d.body).appendChild(e);
  }
}
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

{% case site.comments_provider %}
{% when 'gitment' %}
    <div id="container"></div>
    <link rel="stylesheet" href="{{ "/assets/css/gitment.css" | prepend: site.baseurl | replace: '//', '/' }}">
    <script src="{{ "/assets/js/gitment.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
    <script>
    var gitment = new Gitment({
        id: '{{ page.url }}',
        owner: '{{ site.gitment.owner }}',
        repo: '{{ site.gitment.repo }}',
        oauth: {
            client_id: '{{ site.gitment.oauth.client_id }}',
            client_secret: '{{ site.gitment.oauth.client_secret }}',
        },
    })
    gitment.render('container')
    </script>
{% endcase %}

{% endif %}
