<div class="nav">
    <div class="nav_nav">
	    <a class="nav_a1" href="{{ site.baseurl }}/">Home</a>&nbsp
	    <a href="{{ site.baseurl }}{{ site.pagesurl }}/categories/">Categories</a>&nbsp
	    <a href="{{ site.baseurl }}{{ site.pagesurl }}/tags/">Tags</a>&nbsp
	    <a href="{{ site.baseurl }}{{ site.pagesurl }}/wiki/">Wiki</a>&nbsp
	    <a href="{{ site.baseurl }}{{ site.pagesurl }}/links/">Links</a>&nbsp
	    <a class="nav_a1" href="{{ site.baseurl }}{{ site.pagesurl }}/about/">About</a>
    </div>
    <div class="nav_rss"><a href="{{ site.url }}/sitemap.xml" style="display:none;">SITEMAP</a><a href="{{ site.url }}/feed.xml" target="_blank">RSS</a></div>
</div>
