<div class="nav">
    <div class="nav_nav">
        <a class="nav_a1" href="{{ site.url }}/base.url/">Home</a>&nbsp
        <a href="{{ pages.url }}/categories/">Categories</a>&nbsp
        <a href="{{ pages.url }}/wiki/">Wiki</a>&nbsp
        <a href="{{ pages.url }}/links/">Links</a>&nbsp
        <a class="nav_a1" href="{{ pages.url }}/about/">About</a>
    </div>
    <div class="nav_rss"><a href="{{ site.url }}/sitemap.xml" style="display:none;">SITEMAP</a><a href="{{ site.url }}/feed.xml" target="_blank">RSS</a></div>
</div>
