<div id="post-pagination" class="paginator">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">Previous</a>
  {% else %}
    <span class="previous disabled"><Previous</span>
  {% endif %}

  {% if paginator.page == 1 %}
    <span class="current-page">1</span>
  {% else %}
    <a href="{{ site.url }}/">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
    {% else %}
      <a href="{{ site.url }}/page{{count}}">{{count}}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <a class="next" href="{{ site.url }}/page{{paginator.next_page}} | prepend: {{ site.baseurl }}">Next></a>
  {% else %}
    <span class="next disabled" >Next></span>
  {% endif %}
  (total {{ paginator.total_posts }} pages)
</div>
