<div class="sharebuttons">
  <hr />
  <ul>
    <li class="twitter">
      <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Twitter" >
        {% include social/share-icon-twitter.svg %}
      </a>
    </li>
    <li class="googleplus">
	    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Google+" >
        {% include social/share-icon-googleplus.svg %}
      </a>
    </li>
    <li class="facebook">
      <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&title={{ page.title }}"
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
       title="Share on Facebook" >
        {% include social/share-icon-facebook.svg %}
      </a>
    </li>
    <li class="linkedin">
      <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on LinkedIn" >
        {% include social/share-icon-linkedin.svg %}
      </a>
    </li>
    <li class="reddit">
    <a  href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Reddit" >
        {% include social/share-icon-reddit.svg %}
    </a>
    </li>
    <li class="email">
    <a  href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ page.url }}"
            title="Share via Email" >
    {% include social/share-icon-email.svg %}
    </a>
    </li>
  </ul>
</div>
